/*
Font: font-family: 'Montserrat', sans-serif;

Border Color: #34508b
Background Color: #e8fcfa
Background Navbar: #c7eae4
Yellow: #ffd3a2
GreenTxt: #93ba86

*/

/* GLOBAL */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#34508b;
    background-color: #e8fcfa;
}

.solarisContainer {
    width: 100%;
    padding: 0;
}

/* HEADER */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #ffd3a2;
}
.solarisNav {
    width: 100%;
    margin: 0 !important;
    background-color: #c7eae4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solarisUl li {
    border: 3px solid #34508b;
    border-radius: 35px/30px;
    width: 120px;
    text-align: center;
    margin-right: 40px;
    margin-top: 6px;
    background-color: white;
}

.solarisUl li:hover{
    border: 3px solid #1e3e8b;
}

.solarisUl li a{
    padding: 5px 15px 5px 15px;
    border-radius: 35px/30px;
    background-color: transparent !important;
}

.solarisBrand {
    padding-top: 3px;
}

/* SOLUTIONS */
.title1 {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:#34508b;
    font-size: 42px;
    margin-bottom: 0px;

}

.title2 {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:#34508b;
    font-size: 42px;
    margin-bottom: 0px;
    background-color: white;
}
.solution1 {
    text-align: center;
}

.solution2 {
    text-align: center;
}


.solution2 {
    background-color: white;
}
.solution1 img {
    margin: 80px;
}

.solution1 p {
    padding: 70px 120px 70px 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 100 !important;
    font-size: 18px;
    color: #93ba86;
}

.solution2 img {
    margin: 80px;
}

.solution2 p {
    padding: 70px 40px 70px 120px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 100 !important;
    font-size: 18px;
    color: #93ba86;
}

/* FOOTER */

.footer {
    background-color: #c7eae4;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.footer img {
    margin-right: 20px;
}

.footer a {
    text-decoration: none;
}